extends ../layout.pug

block nav
  .nav
    ol.breadcrumb
      li
        a(href='/') Features
      li.active Subscriptions
      li
        a(href='/subscriptions/new') New

block header
  .text-center
    h2 List of subscriptions

block content
  include ./_table.pug
  div.text-center
    if subscriptions.length > 0
      +table(subscriptions)
    else
      h4 No items
