extends ../layout.pug

block nav
  .nav
    ol.breadcrumb
      li
        a(href='/') Features
      li
        a(href='/subscriptions') Subscriptions
      li.active New

block header
  .text-center
    h2 Create subscription

block content
