extends ./layout.pug

block nav
  .nav
    ol.breadcrumb
      li.active Features

block header
  .text-center
    h2 List of features

block content
  ul
    li.list-unstyled
      a(href='/subscriptions') Subscriptions. Subscribe and unsubscribe on events.
    li.list-unstyled
      a(href='/calls') Calls. Call management.
